src/main/mule/git-test-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d8508f82-d129-4fa9-bd04-33c28f457f9a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-test-1Flow" doc:id="beff8f83-d43a-4ff2-b046-1e0d2e74fe92" >
		<http:listener doc:name="Listener" doc:id="9316d13e-f578-4584-a1a4-1b000245c020" config-ref="HTTP_Listener_config" path="/git-test1"/>
		<set-payload value='#["git-test-success"]' doc:name="Set Payload" doc:id="96688441-5e15-475c-aeb4-9263445f51ca" />
		<logger level="INFO" doc:name="Logger" doc:id="1b5a6238-d390-40b4-878f-c292d5a14e1c" message="success impl"/>
	</flow>
</mule>
